@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  background-color: transparent;
}

body>* {
  position: relative;
  z-index: 10;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;

  background-image: url("https://res.cloudinary.com/dxdij0mxf/image/upload/v1778227614/wallpaper_xbwkmw.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  filter: brightness(0.6) saturate(1.2);
}